header#main-menu div.menu-btn {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 35px;
  height: 25px; }
  header#main-menu div.menu-btn .checkbox {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    z-index: 10; }
    header#main-menu div.menu-btn .checkbox:hover {
      cursor: pointer; }
  header#main-menu div.menu-btn .nav-hamburger {
    position: relative;
    z-index: 9;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column; }
  header#main-menu div.menu-btn .nav-hamburger .lines {
    background: #fff;
    height: 20%;
    border-radius: 2px;
    transition: all 0.5s ease-out; }
  header#main-menu div.menu-btn .checkbox:checked + .nav-hamburger .line1 {
    transform: rotate(-45deg);
    margin-top: 12px; }
  header#main-menu div.menu-btn .checkbox:checked + .nav-hamburger .line2 {
    visibility: hidden;
    opacity: 0; }
  header#main-menu div.menu-btn .checkbox:checked + .nav-hamburger .line3 {
    transform: rotate(45deg);
    margin-bottom: 12px; }
  header#main-menu div.menu-btn div.layout-2 {
    transition: all 0.3s ease-in-out;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5; }
  header#main-menu div.menu-btn input.checkbox:not(:checked) ~ div.layout-2 {
    display: none; }
  header#main-menu div.menu-btn div.menu-content {
    transition: opacity 0.7s, visibility 0.7s;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    height: 400px;
    min-width: 350px;
    z-index: 3;
    opacity: 0.85;
    border: 3px solid #a8dadc;
    background: black;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize; }
    header#main-menu div.menu-btn div.menu-content ul.nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%; }
      header#main-menu div.menu-btn div.menu-content ul.nav-list a {
        text-decoration: none;
        color: #fff; }
      header#main-menu div.menu-btn div.menu-content ul.nav-list li.nav-item {
        flex: 1fr; }
        header#main-menu div.menu-btn div.menu-content ul.nav-list li.nav-item:hover {
          color: #a8dadc; }
  header#main-menu div.menu-btn input.checkbox:not(:checked) ~ div.menu-content {
    opacity: 0;
    visibility: hidden; }

.current {
  color: #a8dadc; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  color: white; }
  body.bg-image {
    background-image: url("../images/bg4.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body.bg-image .layout {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #3c3a3a;
      opacity: 0.85;
      z-index: -1; }
    body.bg-image.extra-image {
      background-image: url("../images/bg5.jpg"); }
    body.bg-image .no-layout {
      display: none; }

main#home div.introduction {
  margin-top: 20vh;
  margin-left: 20vh; }
  main#home div.introduction h1, main#home div.introduction h2 {
    font-weight: 400; }
  main#home div.introduction h1 {
    font-size: 6rem;
    padding-bottom: 1rem; }
  main#home div.introduction h2 {
    font-size: 2rem;
    background: rgba(128, 128, 128, 0.5);
    padding: 15px;
    border-radius: 10px;
    width: 90%; }
  main#home div.introduction span {
    color: #a8dadc; }

main#home div.icons {
  margin-top: 5rem;
  margin-left: 20vh; }
  main#home div.icons i {
    margin: 0 10px;
    color: #a8dadc; }
    main#home div.icons i:hover {
      color: #457b9d; }

main#contact div.contact-info {
  display: inline-block;
  margin: 100px 10px 0px 50px;
  border: 3px solid #457b9d;
  padding: 20px;
  border-radius: 10px; }
  main#contact div.contact-info.extra {
    margin: 10px 10px 0px 50px; }
  main#contact div.contact-info:hover {
    background: #454444; }

main#about {
  overflow: hidden;
  font-size: 0.7rem; }
  main#about div.wrapper {
    margin: 100px;
    display: grid;
    grid-template-columns: 240px 50px 1fr 50px;
    grid-template-rows: 240px;
    grid-template-areas: "image . content . ";
    overflow: hidden;
    grid-gap: 30px; }
    main#about div.wrapper div.image-container {
      grid-area: image;
      z-index: -1; }
      main#about div.wrapper div.image-container div.image {
        margin: auto;
        width: 240px;
        height: 240px;
        background-image: url("../images/portrait.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: 3px solid #a8dadc; }
    main#about div.wrapper div.about-me {
      grid-area: content;
      z-index: -1;
      border: 1px solid #a8dadc;
      line-height: 2rem;
      letter-spacing: 0.1rem;
      text-align: justify;
      text-justify: newspaper;
      overflow: hidden;
      border-radius: 10px; }
      main#about div.wrapper div.about-me h3 {
        text-align: center;
        padding: 15px;
        font-size: 2rem;
        color: #a8dadc; }
      main#about div.wrapper div.about-me p {
        text-indent: 1.6rem;
        padding: 20px 10px 20px 10px;
        margin: 0px 10px 20px 10px;
        font-size: 1.2rem;
        background: #3b3a3a;
        opacity: 0.76;
        border-radius: 10px; }

main#projects {
  margin: 100px; }
  main#projects div.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center; }
    main#projects div.wrapper div.project-item {
      padding: 10px;
      border: 1px solid #a8dadc;
      border-radius: 5px;
      background: #6c6c68; }
      main#projects div.wrapper div.project-item img {
        width: 200px;
        border-bottom: 3px solid #a8dadc; }
      main#projects div.wrapper div.project-item div.description {
        padding: 5px;
        text-align: center; }
        main#projects div.wrapper div.project-item div.description div.buttons {
          padding: 7px; }
          main#projects div.wrapper div.project-item div.description div.buttons a {
            text-decoration: none;
            color: #a8dadc;
            font-size: 2rem; }
          main#projects div.wrapper div.project-item div.description div.buttons .grey {
            color: #fff;
            margin-left: 35px; }
      main#projects div.wrapper div.project-item:hover {
        background: #3b3a3a; }

@media screen and (max-width: 500px) {
  main#home div.introduction {
    margin-left: 5vh;
    margin-top: 25vh; }
    main#home div.introduction h1 {
      font-size: 2.4rem;
      padding-bottom: 1.8rem; }
    main#home div.introduction h2 {
      font-size: 1.3rem; }
  main#home div.icons {
    margin-left: 5vh; }
    main#home div.icons i {
      font-size: 2rem; }
  header#main-menu div.menu-btn div.menu-content {
    font-size: 1.5rem; }
  main#contact div.contact-info {
    margin-top: 25vh;
    font-size: 0.7rem;
    margin-bottom: 5vh; }
  main#about div.wrapper {
    margin: 100px 30px 10px 30px;
    grid-template-columns: auto;
    grid-template-rows: 220px auto;
    justify-content: center;
    grid-gap: 50px;
    grid-template-areas: "image" "content"; }
  main#projects div.wrapper {
    grid-template-columns: 1fr; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  body.extra-image {
    background-image: url("../images/bg5.jpg"); }
  .no-layout {
    display: none; }
  main#home div.introduction {
    margin-left: 5vh;
    margin-top: 25vh; }
    main#home div.introduction h1 {
      font-size: 3rem;
      padding-bottom: 2rem; }
    main#home div.introduction h2 {
      font-size: 2rem; }
  main#home div.icons {
    margin-left: 5vh; }
    main#home div.icons i {
      font-size: 2rem; }
  header#main-menu div.menu-btn div.menu-content {
    font-size: 1.5rem; }
  main#contact div.contact-info {
    margin-top: 25vh;
    font-size: 1rem;
    margin-bottom: 5vh; }
  main#about div.wrapper {
    margin: 100px 30px 10px 30px;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 220px auto;
    justify-content: center;
    grid-gap: 50px;
    grid-template-areas: "image image image" ". content ."; }
  main#projects div.wrapper {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  body.extra-image {
    background-image: url("../images/bg5.jpg"); }
  .no-layout {
    display: none; }
  main#home div.introduction {
    margin-left: 10vh;
    margin-top: 30vh; }
  main#home div.icons {
    margin-left: 10vh; }
    main#home div.icons i {
      font-size: 3rem; }
  main#contact div.contact-info {
    margin-top: 25vh;
    font-size: 1.2rem;
    margin-bottom: 5vh; }
  main#about div.wrapper {
    margin: 100px 30px 10px 30px;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 220px auto;
    justify-content: center;
    grid-gap: 50px;
    grid-template-areas: "image image image" ". content ."; }
  main#projects div.wrapper {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 1171px) {
  main#home div.introduction {
    margin-left: 20vh;
    margin-top: 30vh; }
  main#home div.icons {
    margin-left: 20vh; }
    main#home div.icons i {
      font-size: 3rem; }
  main#contact div.contact-info {
    margin-top: 25vh;
    font-size: 1.3rem;
    margin-bottom: 5vh; } }
