@import 'config';
@import 'menu';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    color: white;

    &.bg-image{
        background-image: $bg-image;
        background-attachment: fixed;;
        background-size: cover;

        .layout{
            position: absolute;
            top:0;
            right:0;
            width: 100%;
            height: 100%;
            background-color: rgb(60, 58, 58);
            opacity: 0.85;
            z-index: -1;
        }

        &.extra-image{
            background-image: url('../images/bg5.jpg');
        }
        .no-layout{
            display:none;
        }
    }
}

// Homepage
main#home{
    div.introduction{
        margin-top: 20vh;
        margin-left: 20vh;

        h1, h2{
            font-weight: 400;

        }

        h1{
            font-size: 6rem;
            padding-bottom: 1rem;
        }

        h2{
            font-size: 2rem;
            background: rgba(grey, 0.5);
            padding: 15px;
            border-radius: 10px;
            width: 90%;
        }

        span{
            color: $third-color;
        }

    }

    div.icons{
        margin-top:5rem;
        margin-left: 20vh;
        i{
            margin: 0 10px;
            color: $third-color;

            &:hover{
                color: $secondary-color;
            }

        }
    }
}

main#contact{
    div.contact-info{
        display:inline-block;
        margin: 100px 10px 0px 50px;
        border: 3px solid $secondary-color;
        padding: 20px;
        border-radius: 10px;

        &.extra{
            margin: 10px 10px 0px 50px;
        }

        &:hover{
            background: rgb(69, 68, 68);
        }
    }
}

main#about{
    overflow: hidden;
    font-size: 0.7rem;
    div.wrapper{
        margin: 100px;
        display: grid;
        grid-template-columns: 240px 50px 1fr 50px;
        grid-template-rows: 240px;
        grid-template-areas: 
        "image . content . ";
        overflow: hidden;
        grid-gap: 30px;
        div.image-container{
            grid-area:image;
            div.image{
                margin:auto;
                width: 240px;
                height: 240px;
                background-image: url("../images/portrait.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                border: 3px solid $third-color;
            }
            z-index: -1;
        }

        div.about-me{
            grid-area: content;
            z-index: -1;
            border: 1px solid $third-color;
            line-height: 2rem;
            letter-spacing: 0.1rem;
            text-align: justify;
            text-justify: newspaper;
            
            overflow: hidden;
            border-radius:10px;

            h3{
                text-align: center;
                padding: 15px;
                font-size: 2rem;
                color: $third-color;
            }
            p{
                text-indent: 1.6rem;
                padding: 20px 10px 20px 10px;
                margin: 0px 10px 20px 10px;
                font-size: 1.2rem;
                background: $primary-color;
                opacity: 0.76;
                border-radius: 10px;
            }
        }

    }
}

main#projects{
    margin:100px;

    div.wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        justify-content: space-evenly;
        justify-items: center;
        
        div.project-item{
            padding:10px;
            border: 1px solid $third-color;
            border-radius: 5px;
            background: rgb(108, 108, 104);

            img{
                width:200px;
                border-bottom: 3px solid $third-color;
            }

            div.description{
                padding: 5px;
                text-align: center;
                div.buttons{
                    padding: 7px;
                    a{
                        text-decoration: none;
                        color: $third-color;
                        font-size: 2rem;              
                    }

                    .grey{
                        color: #fff;
                        margin-left: 35px;
                    }
                }
            }

            &:hover{
                background: $primary-color;
            }
        }
    }
}

@import 'mobile';